<div id="todosView" data-role="page">
  <div class="ui-bar ui-bar-b">
    <h3>Todos</h3>
  </div>

  <div data-role="content">
    <ul id="todosList" data-role="listview" data-theme="c"></ul>
  </div>

  <div data-role="footer" data-tap-toggle="false" class="ui-bar-b" data-position="fixed">
    <div data-role="navbar" data-tap-toggle="false" data-iconpos="bottom">
      <ul>
        <li><a href="index.html#menuView" data-direction="reverse" data-icon="arrow-l">Menu</a></li>
      </ul>
    </div>
  </div>
</div>
