<h3><%= title %></h3>
<p><%= description %></p>

<fieldset data-role="controlgroup">
 <input type="checkbox" name="checkbox-1" id="done" class="custom" <% if (done) { %> checked="true" <% } %>  />
 <label for="done">Done?</label>
</fieldset>
